@model SafetsRentACar.ViewModels.User.UserViewModel

<h2>Kreiranje korisnika</h2>

<form asp-action="Create" method="post" >
    <div class="form-group">
        <label asp-for="FirstName" class="form-label"></label>
        <input asp-for="FirstName" type="text" class="form-control" />
        <small class="form-text text-muted">Ime je obavezno i mora da ima izmedju 2 i 50 karaktera</small>
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="LastName" class="form-label"></label>
        <input asp-for="LastName" type="text"  class="form-control"/>
        <small class="form-text text-muted">Prezime je obavezno i mora da ima izmedju 2 i 50 karaktera</small>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" type="email" class="form-control" />
        <small class="form-text text-muted">Email je obavezan</small>
        <span asp-validation-for="Email" class="text-danger"></span> 
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber" class="form-label"></label>
        <input asp-for="PhoneNumber" type="tel" class="form-control" />
        <small class="form-text text-muted">Telefonski broj je obavezan i mora da ima izmedju 9 i 15 brojeva</small>
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address" class="form-label"></label>
        <input asp-for="Address" type="text" class="form-control" />
        <small class="form-text text-muted">Adresa je obavezna i mora da ima do 100 karaktera</small>
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Username" class="form-label"></label>
        <input type="text" id="Username" name="Username" class="form-control" />
        <small class="form-text text-muted">Polje za korisnicko ime nije obavezno. Ukoliko ga ne unesete, bice automatski postavljena vrednost iz email adrese kao korisnicko ime.</small>
        <!--<span asp-validation-for="Username" class="text-danger"></span>-->
        
    </div>

    <div class="form-group">
        <label asp-for="PasswordHash" class="form-label"></label>
        <input asp-for="PasswordHash" type="password" class="form-control" />
        <small class="form-text text-muted">Lozinka je obavezna i mora da ima izmedju 6 i 50 karaktera, mora da sadrzi jedno veliko slovo i jedan specijalan karakter</small>
        <span asp-validation-for="PasswordHash" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPasswordHash" class="form-label"></label>
        <input asp-for="ConfirmPasswordHash" type="password" class="form-control" />
        <small class="form-text text-muted">Ponovljena lozinka je obavezna i mora da bude identicna lozinki</small>
        <span asp-validation-for="ConfirmPasswordHash" class="text-danger"></span>
    </div>





    <button type="submit" class="btn btn-primary">Kreiraj</button>
    
</form>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.0/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function () {
            $.validator.addMethod("passwordStrength", function (value, element) {
                return this.optional(element) || /^(?=.*[A-Z])(?=.*[#@@$%^&+=!]).*$/.test(value);
        }, "Lozinka mora sadržati barem jedno veliko slovo i jedan specijalni karakter.");

           
            $("form").validate({
                rules: {
                    FirstName: {
                        required: true,
                        minlength: 2,
                        maxlength: 50
                    },
                    LastName: {
                        required: true,
                        minlength: 2,
                        maxlength: 50
                    },
                    Email : {
                        required: true,
                        email: true
                    },
                    PhoneNumber: {
                        required: true,
                        digits: true,
                        minlength: 9,
                        maxlength: 20
                    },
                    Address :{
                        required: true,
                        maxlength: 100
                    },
                    PasswordHash: {
                        required: true,
                        minlength: 6,
                        maxlength: 50,
                    passwordStrength: true
                    }, 
                    ConfirmPasswordHash :{
                        required: true,
                        equalTo: "#PasswordHash"
                    }

                },
                messages: {
                    FirstName: {
                        required: "Ime je obavezno JS",
                        minlength: "Ime mora da ima minimum 2 karakatera JS",
                        maxlength: "Ime mora da bude manje od 50 karakatera JS"
                    },
                    LastName: {
                        required: "Prezime je obavezno JS",
                        minlength: "Prezime mora da ima minimum 2 karakatera JS",
                        maxlength: "Prezime mora da bude manje od 50 karakatera JS"
                    },
                    Email: {
                        required: "Email je  obavezan JS",
                        email:"Unesite validnu email adresu"
                    },
                    PhoneNumber: {
                        required: "Telefonski broj je  obavezan JS",
                        digits: "Unesite samo brojeve ",
                        minlength: "Telefonski broj mora da ima minimum 9 brojeva JS",
                        maxlength: "Telefonski broj bude manje od 15 brojeva JS (9-15)", 
                    },
                    Address :{
                        required: "Adresa je  obavezna JS",
                        maxlength: "Adresa mora da bude manja od 100 karaktera JS ",
                    },
                    PasswordHash: {
                        required: "Lozinka je  obavezna JS",
                        minlength: "Lozinka mora da ima minimum 6 karaktera JS",
                        maxlength: "Lozinka treba da  bude manja od 50 karaktera JS",
                        passwordStrength: "Lozinka mora sadržati barem jedno veliko slovo i jedan specijalni karakter."
                    },
                    ConfirmPasswordHash: {
                        required:  "Ponovljena lozinka je  obavezna JS",
                        equalTo: "Lozinke se ne poklapaju - nisu iste JS"
                    }

                },
                errorClass:"text-danger",
                validClass:"is-valid",
                errorElement: "span"

            });
        });
    </script>
}