
@model SafetsRentACar.Models.User

<h2>Obrisi korisnika</h2>

<p>Da li ste sigurni da zelite da obriste korisnika? <strong>@Model.FirstName @Model.LastName </strong> ?</p>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" name="id" asp-for="@Model.UserId" />
    <button type="submit" class="btn btn-danger">DA</button>
    <a asp-action="ShowAllUsers" class="btn btn-secondary">NE</a>
</form>
